body {
    align-items: center;
    color: whitesmoke;
    background-color: black;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

p {
    text-transform: capitalize;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundOutcomes {
    display: flex;
    flex-direction: column;
    
}